{% extends "base.html" %}

{% block content %}
<div class="card">
  <h2>Sign Up</h2>

  <form method="POST" action="{{ url_for('register') }}">
    <input type="email" name="email" placeholder="Email" required>
    <input type="password" name="password" placeholder="Password" required>
    <button type="submit">Create Account</button>
  </form>

  <p style="margin-top:12px;">
    Already have an account?
    <a href="{{ url_for('login') }}" style="color:#7a4b2a; font-weight:bold;">Login</a>
  </p>
</div>
{% endblock %}
